*{margin: 0;
  padding: 0;
  box-sizing: border-box;}

.wrapper{
  display: grid;
  // grid-template-columns: ;
}

#logo {
  width: 30vh;
  height: auto;
}

#logo:hover {
  #screen {
    animation: colorChange 10s;
    animation-iteration-count: infinite;
  }
  #scroller {
    animation: colorChange 10s;
    animation-iteration-count: infinite;
  }
}

@keyframes colorChange {
  0% {
    fill: #246eb9;
  }
  20% {
    fill: #a60067;
  }
  40% {
    fill: #5adbff;
  }
  60% {
    fill: #1ed830;
  }
  80% {
    fill: #fb3640;
  }
  100% {
    fill: #f4ff35;
  }
}

.tagline{
    font-family: Arial, Helvetica, sans-serif;
}
