#wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: none;
  flex-direction: column;
  padding: 0;
  background-color: #343a40;
  color: #fffbfb;
}

#details {
  margin: 5vh;
}

.dev {
  text-align: left;
}
