// #work {
//   // padding: none;
//   // height: 95vh;
//   // width: auto;
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: center;
// }

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh;
}

// .card {
//   // margin: 2vh;
// }

// .a {
//   // position: relative;
// }

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
