#work {
  margin: 5vh;
  padding: none;
  height: 100vh;
  width: auto;
}

.projects {
  display: flex;
  flex-wrap: row;
  justify-content: center;
}

.card {
  margin: 2vh;
}


@media (max-width: 600px) {
  .projects {
    display: inline-block;
  }
  .card-text{
    display: none;
  }
}
