#work {
  margin: 5vh;
  padding: none;
  height: 100vh;
  width: auto;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 80%;
}

.card {
  margin: 2vh;
}

@media (max-width: 600px) {
  .projects {
    display: inline-block;
  }
  .card-text {
    display: none;
  }
}
